body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    margin:3%;
}

h1{
    font-size:30px;
    font-family:Tahoma;
}

nav,nav ul{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li{
    padding:10px;
}

nav li{
    align-content:center;
    text-align:center;
}

nav a{
    text-decoration:none;
    color:black;
}

.spl{
    padding:5px;
    margin:15px;
    display:flex;
    justify-content:center;
    align-items:center; 
    border:none;
    width:150px;
    height: 35px;
    border-radius: 15%;
}
h3{
    font-size:30px;
    font-family:monospace;
    text-decoration:underline;
    color:maroon;   
}

.c1{
    background-color: rgba(0, 0, 0, 0.203);
    padding:2%;
    width:85%;
    height: 430px;
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-areas: "login lines signup";
    grid-gap:20px;
    align-items: center;
    text-align:center;
}

.lines{
    width:4px;
    background-color:black;
    height:100%;
}

label{
    font-family: georgia;
    padding:15px;
    font-size:15px;
    font-weight: bold;
}

input{
    width:300px;
    height:35px;
    border:1.5px solid white;
    border-radius: 0 18% 0 15% ;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    margin:15px;
}

.c1 button{
    border:2px solid white;
    background-color:white;
    color:black;
    border-radius: 18% 0 15% 0;
    height:40px;
}

.signup{
    visibility:hidden;
}

.login{
    visibility:visible;
}

main a{
    font-size:17px;
}

hr{
    height:2px;
    background-color:black;
}

h2{
    font-family:monospace;
    font-size:25px;
}

p{
    font-size:15px;
    font-family:georgia;
}

footer{
    background-color:rgba(0, 0, 0, 0.207);
    text-align:center;
}